.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  margin-top: 40px;
}
.balance{
  margin-top: 15px;
  color:black;
  font-weight: bold;	
}
.balance span {
  font-weight: 400;	
}

.address{
  margin-top: 15px;
  color:black;
  font-weight: bold;	
}
.address span {
  font-weight: 400;	
}

.balance span {
  font-weight:400;	
}

.btn__connect{
  margin-top: 15px;
  padding: 10px 20px;
  background-color:rgb(1, 174, 218);
  border: none;
  border-radius:5px;
  color:white;
  font-size:16px;
}
.disconnect{
  background-color:rgb(192, 0, 0);

}
.list__transaction{
}
.list__transaction h4{
 text-align: center;
 margin-bottom: 20px;
}

.list__transaction table{
  text-align: center;
  margin:auto;
  width: 80%;
}
.detail{
  padding:30px 0;
  text-align:center;
  background-color: rgb(105, 102, 102);
}
.btn_backhome{
  margin-top: 20px;
  padding: 10px 15px;
  color:white;
  background-color: rgb(172, 172, 172);
  border:none;
  border-radius:5px;
}
.btn_backhome Link{
  text-decoration: none;
}

.btn__succeed{
 padding:5px 10px;
 color:white;
 background-color: rgb(0, 151, 0);
 border-radius:5px;
 border:none;
}
.btn__fail{
  padding:5px 10px;
 color:white;
 background-color: rgb(221, 27, 27);
 border-radius:5px;
 border:none;
}